h1 {
    font-size: 4em;
}

.bangers {
    font-family: 'Bangers', cursive;
}

.josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2em;
}

.lato {
    font-family: 'Lato', sans-serif;
    font-size: 1.885em;
}

.playfair-display {
    font-family: 'Playfair Display', serif;
}

.bc-popstar {
    background-color: #B24C63;
}

.bc-denim-blue {
    background-color: #2541B2;
}

.bc-white {
    background-color: white;
}

.bc-eggshell {
    background-color: #EDF0DA;
}

.bc-grullo {
    background-color: #A89B8C;
}

.bc-peach-yellow {
    background-color: #F0DFAD;
}

.c-popstar {
    color: #B24C63;
}

.c-denim-blue {
    color: #2541B2;
}

.c-white {
    color: white;
}

.c-eggshell {
    color: #EDF0DA;
}

.c-grullo {
    color: #A89B8C;
}

.c-light-grey {
    color: rgb(228, 228, 228);
}

.container {
    height: 100vh;
    padding: 15px;
    border-left: 12px solid white;
    border-right: 12px solid white;
}

.first-row {
    position: relative;
    height: 315px;
    width: 100%;
    margin: 0 auto;
}

.third-row {
    border-top: 5px solid rgb(228, 228, 228);
    border-left: 5px solid rgb(228, 228, 228);
    border-right: 5px solid rgb(228, 228, 228);
    border-radius: 20px 20px 0 0;
}

.fourth-row {
    border-bottom: 5px solid rgb(228, 228, 228);
    border-left: 5px solid rgb(228, 228, 228);
    border-right: 5px solid rgb(228, 228, 228);
    border-radius: 0 0 20px 20px;
    
}

.media {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    height: auto;
    width: auto;
    max-width: 560px;
    max-height: 315px;
}

.first-row img {
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}

.transparent {
    opacity: 0;
}

.ml-row {
    margin-left: 7%;
}

.mr-row {
    margin-right: 7%
}